/* Global Styles */
body {
  background-color: #c5f2ff; /* Sky blue background */
  font-family: "Arial", sans-serif;
}

/* Header Styles */
h2 {
  text-align: center;
  font-size: 32px;
  color: #ff5700; /* Mario red */
  text-shadow: 2px 2px 2px #000000;
  margin-bottom: 20px;
}

/* Form Styles */
form {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  outline: none;
}

button[type="submit"] {
  background-color: #24a343; /* Luigi green */
  color: #ffffff; /* White */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #107c20; /* Dark green */
}

/* Result Styles */
.code-box {
  display: block;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-family: "Courier New", monospace;
  margin-top: 20px;
  position: relative;
}

.code-box button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.code-box button:hover {
  background-color: #0056b3;
}

.hide {
  display: none;
}
